<!DOCTYPE html>
<html lang="en">

<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->

<head>



    <title>School Management</title>
    <link href="https://e7.pngegg.com/pngimages/183/568/png-clipart-taytay-sm-supermalls-logo-sm-mall-of-asia-design-blue-emblem.png" rel="icon" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <style>
        #preloader {
            background: url(/image/ConventionalOblongFairybluebird-max-1mb.gif) no-repeat center center;
            background-size: 10%;
            height: 100vh;
            width: 117%;
            position: fixed;
            z-index: 100;
        }
       #page{
           opacity:0.2;
       }
    </style>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/keenthemescss")
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/bundles/datatables")*@
    @Styles.Render("~/assets/plugins/global/plugins.bundle.css")
    @Styles.Render("~/assets/css/style.bundle.css")
    @Styles.Render("~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css")
    @Styles.Render("~/assets/plugins/custom/prismjs/prismjs.bundle.css")
    @Styles.Render("~/assets/css/themes/layout/header/base/light.css")
    @Styles.Render("~/assets/css/themes/layout/header/menu/light.css")
    @Styles.Render("~/assets/css/themes/layout/brand/dark.css")
    @Styles.Render("~/assets/css/themes/layout/aside/dark.css")
    @* @Styles.Render("~/Styles/dataTables.checkboxes.css")*@
    @Styles.Render("~/assets/plugins/custom/jstree/jstree.bundle.css")
    @Styles.Render("~/assets/plugins/custom/datatables/datatables.bundle.css")
    @Styles.Render("~/assets/plugins/global/plugins.bundle.css")
    @Styles.Render("~/assets/plugins/custom/prismjs/prismjs.bundle.css")
    @Styles.Render("~/assets/css/style.bundle.css")
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Verdana, sans-serif;
        }

        .mySlides {
            display: none;
        }

        img {
            vertical-align: middle;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
        }

        /* Fading animation */
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
       
    </style>
    

</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable" style="">


    

    <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
        <a href="/">
            <img alt="SchoolManagement" src="~/image/smss.png">
        </a>
        <div class="d-flex align-items-center">
            <button class="btn p-0 burger-icon ml-4" id="kt_aside_mobile_toggle">
                <span></span>
            </button>
            <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                        </g>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
                <div class="brand flex-column-auto" id="kt_brand" kt-hidden-height="65" style="">
                    <a href="/" class="brand-logo">
                        <img alt="School Management" src="~/image/smss.png" style="width:9em">
                    </a>
                    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                        <span class="svg-icon svg-icon svg-icon-3x">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)"></path>
                                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)"></path>
                                </g>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="aside-menu my-4 scroll ps ps--active-y" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500" style="height: 105px; overflow: hidden;">
                        <ul class=" menu-nav   ">

                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a class=" svg-fill-primary menu-item menu-item-active menu-link text-hover-primary  font-size-h4 bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Home">
                                    <span class="svg-icon menu-icon icon-2x   flaticon-home-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg>
                                        <span class="menu-text font-size-h4">
                                            Home
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a class="menu-item menu-item-active menu-link text-hover-primary  font-size-h4 bg-hover-dark-o-1 " aria-haspopup="true" data-menu-toggle="hover" style="color:darkgray" href="/UserRegistrations">

                                    <span class="svg-icon menu-icon icon-2x  flaticon2-writing">


                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg> <span class="menu-text font-size-h4">
                                            Registration
                                        </span>
                                    </span>

                                </a>
                            </li>
                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a class=" menu-item menu-item-active menu-link text-hover-primary  font-size-h4 bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Attendances">
                                    <span class="svg-icon menu-icon  icon-2x flaticon-clipboard" aria-haspopup="true" data-menu-toggle="hover">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg> <span class="menu-text font-size-h4">Attendence</span>
                                    </span>
                                </a>
                            </li>

                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a href="javascript:;" class="menu-link menu-toggle">
                                    <span class="svg-icon menu-icon icon-2x  flaticon-profile-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg>
                                    </span>

                                    <span class="menu-text font-size-h4">Student</span>
                                    <i class=" menu-arrow fa-1x"></i>
                                </a>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/StudentInformations">
                                                <span class="svg-icon menu-icon icon-2x flaticon2-calendar-3" style="margin-left:33px">

                                                    <span class="menu-text font-size-h4">Student Details</span>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow fa-1x"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Results">
                                                <span class="svg-icon menu-icon icon-2x flaticon-imac" style="margin-left:33px">


                                                    <span class="menu-text font-size-h4">Results</span>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </li>
                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a href="javascript:;" class="menu-link menu-toggle">
                                    <span class="svg-icon menu-icon icon-2x far fa-building">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg>
                                    </span>

                                    <span class="menu-text font-size-h4">School</span>
                                    <i class=" menu-arrow fa-1x"></i>
                                </a>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class="  menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Subjects">
                                                <span class="svg-icon menu-icon icon-2x flaticon-layer" style="margin-left:33px">

                                                    <span class="menu-text font-size-h4">Subjects</span>
                                                </span>

                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow fa-1x"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Departments">
                                                <span class="svg-icon  flaticon-map menu-icon icon-2x" style="margin-left:33px">

                                                    <span class="menu-text font-size-h4">Departments</span>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow fa-1x"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Classes">
                                                <span class="svg-icon icon-2x menu-icon flaticon-presentation" style="margin-left:33px">

                                                    <span class="menu-text font-size-h4"> Classes</span>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow fa-1x"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/Roles">
                                                <span class="icon-2x menu-icon flaticon2-avatar" style="margin-left:33px">

                                                    <span class="menu-text font-size-h4"> Roles</span>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                @* <div class="menu-submenu" kt-hidden-height="360">
                <i class="menu-arrow fa-1x"></i>
                <ul class="menu-subnav ">
                    <li>
                        <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="https://localhost:44360/Home/Contact">
                            <span class="icon-2x menu-icon flaticon2-avatar" style="margin-left:33px">

                                <span class="menu-text font-size-h4"> Login</span>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>*@


                            </li>
                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a href="javascript:;" class="menu-link menu-toggle ">
                                    <span class="svg-icon menu-icon  icon-2x  flaticon-users ">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg>
                                    </span>
                                    <span class="menu-text font-size-h4">Staff</span>
                                    <i class=" menu-arrow fa-1x"></i>
                                </a>
                                <div class="menu-submenu" kt-hidden-height="360">
                                    <i class="menu-arrow fa-1x"></i>
                                    <ul class="menu-subnav ">
                                        <li>
                                            <a class=" menu-item menu-item-active menu-link text-hover-primary  bg-hover-dark-o-1 " aria-haspopup="true" style="color:darkgray; " data-menu-toggle="hover" href="/StaffInformations">
                                                <span class="svg-icon  icon-2x flaticon-profile" style="margin-left:33px">

                                                    <span class="menu-text font-size-h4">Staff Details</span>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </li>
                            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                <a href="@Url.Action("Index", "Login")"  class="menu-link menu-toggle ">
                                    <span class="svg-icon menu-icon  icon-2x  flaticon2-protection ">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                        </svg>
                                    </span>
                                    <span class="menu-text font-size-h4">Sign Out</span>
                                    
                                </a>
                                

                            </li>

                            <br />
                        </ul>

                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 105px; right: 4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 47px;"></div></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
               
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">


                    @*<link href="/Styles/Index.css" rel="stylesheet">*@
                    <style>
                        #usericon,
                        svg {
                            display: inline-block;
                            vertical-align: middle;
                        }

                            #usericon:hover path {
                                fill: white;
                            }

                        .dataTables_filter {
                            text-align: left !important;
                        }

                        .dataTables_length {
                            margin-top: 0.4rem;
                        }
                    </style>
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    @if (TempData["AlertMessageDelete"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["AlertMessageDelete"]
                        </div>
                    }

                    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                        <div class="post d-flex flex-column-fluid" id="kt_post">
                            <div id="kt_content_container" class="container">
                                <div class="card card-custom">
                                    <div class="card-header flex-wrap py-5">
                                        <div class="card-title">

                                        </div>
                                        <div class="card-toolbar">

                                        </div>
                                        <div class="card-body" style="width:100%">

                                            <div class="col-sm-12">
                                                @RenderBody()

                                            </div>
                                        </div><div class="row">
                                            <div class="col-sm-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        @* <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
                <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5" kt-hidden-height="40" style="">
                    <h3 class="font-weight-bold m-0">
                        User Profile
                    </h3>
                    <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
                        <i class="ki ki-close icon-xs text-muted"></i>
                    </a>
                </div>
                <div class="offcanvas-content pr-5 mr-n5 scroll ps ps--active-y" style="height: 90px; overflow: hidden;">
                    <div class="d-flex align-items-center mt-5">
                        <div class="symbol symbol-100 mr-5">
                            <div class="symbol-label" id="ProfilePicture" style="background-image: url(&quot;/Images/avatar.png&quot;);"></div>
                            <i class="symbol-badge bg-success"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">karthick@demo.tekensodev.com</a>
                            <div class="text-muted mt-1"></div>
                            <div class="navi mt-2">
                                <a class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5" href="/Account/SignOut" id="loginLink">Sign out</a>
                            </div>
                        </div>
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px; height: 90px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 69px;"></div></div>
                </div>
            </div>
            <div id="kt_scrolltop" class="scrolltop">
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1"></rect>
                            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"></path>
                        </g>
                    </svg>
                </span>
            </div>*@
    </div>

    @*<script>
            var loader = document.getElementById("preloader");

            window.addEventListener("load", function () {
                loader.style.display = "none";

            })
        </script>*@

    <script>
        var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
    </script>
    <script>
        var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.js")
    @Scripts.Render("~/bundles/keenthemesjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/assets/js/scripts.bundle.js")
    @Scripts.Render("~/assets/plugins/custom/prismjs/prismjs.bundle.js")
    @Scripts.Render("~/assets/js/scripts.bundle.js")
    @Scripts.Render("~/assets/plugins/custom/datatables/datatables.bundle.js")
    @Scripts.Render("~/assets/js/pages/crud/datatables/advanced/column-rendering.js")
    @Scripts.Render("~/assets/js/pages/crud/datatables/extensions/buttons.js")
    @Scripts.Render("~/assets/plugins/custom/jstree/jstree.bundle.js")
    @Scripts.Render("~/assets/js/pages/features/miscellaneous/treeview.js")
    @Scripts.Render("~/bundles/Scripts")
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script src="~/assets/js/pages/crud/datatables/basic/basic.js"></script>

    <script src="~/Scripts/Alert.js"></script>

    <script>
        $("#kt_sweetalert_demo_9").click(function (e) {
            Swal.fire({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    Swal.fire(
                        "Deleted!",
                        "Your file has been deleted.",
                        "success"
                    )

                } else if (result.dismiss === "cancel") {
                    Swal.fire(
                        "Cancelled",
                        "Your imaginary file is safe :)",
                        "error"
                    )
                }
            });
        });</script>
    <script>
        var encodedstring;
        function encrypt() {
            var pass = document.getElementById('password').value;
            encodedstring = window.btoa(pass);
            document.getElementById('password').value = encodedstring;

        }
        function decrypt() {
            var decodedstring = window.btoa(encodedstring);
            document.getElementById("password").value = decodedstring;

        }
    </script>


    @RenderSection("scripts", required: false)
</body>

</html>
