@model Schoolmanagementn.StudentInformation

@{
    ViewBag.Title = "Details";
}
<div id="kt_header" class="header header-fixed">
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                <span id="CustomerName" style="margin-top:1rem;margin-left:200px;font-size:30px;font-weight:500">StudentInformation</span>
            </div>
        </div>
        <div class="topbar">
            <div class="topbar-item">

            </div>
        </div>
    </div>
</div>
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5"> </h5>
            <span style="font-size:20px" class="text-dark font-weight-boldest "> @Html.DisplayFor(model => model.FullName)</span>
        </div>
        <div class="d-flex align-items-center">
            <div class="btn-group ml-2">

                <div class="container-fluid d-flex flex-wrap flex-sm-nowrap">


                    <a href="@Url.Action("Index", "StudentInformations")" class="btn btn-dark font-weight-bold btn-sm px-3 font-size-base" style="margin-left: 700px">Back</a>
                    <div class="btn-group ml-2">
                       <a href="@Url.Action("Edit", "StudentInformations", new { id = Model.StudentId  })" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div style="margin-left: 200px; margin-right: 350px;" class="shadow">
        <div>
            <h2 style="font-weight: 800; text-align: center">
                <br />
                Information of
                @Html.DisplayFor(model => model.FullName)

            </h2>
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Full Name :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        Father Name : 
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>

                    <dt>
                        Mother Name :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>

                    <dt>
                        Date of Birth :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>

                    <dt>
                        Age :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        Gender : 
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        Phone Number:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        Address :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        Date of Admission :
                        
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfAdmission)
                    </dd>

                    <dt>
                       Religion :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Religion)
                    </dd>

                    <dt>
                        Nationality :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nationality)
                    </dd>

                    <dt>
                        State :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.State)
                    </dd>

                    <dt>
                        Class :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Class.ClassName)
                    </dd>

                </dl>
            </div>
            
            <br />
        </div>
        </div>
           
