@model Schoolmanagementn.StudentInformation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>StudentInformation</h4>
    <hr />
   
    <div class="form-group">
        <label class="control-label col-md-2">Full Name<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
            
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Father Name<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Mother Name<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Date of Birth<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Age<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Gender<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
          
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Phone Number<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Address<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
           
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Date of Admission<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateOfAdmission, new { htmlAttributes = new { @class = "form-control" } })
            
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Class<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.DropDownList("ClassName", null, htmlAttributes: new { @class = "form-control" })
            
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Religion<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control" } })
            
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nationality<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">State<span class="text-danger">*</span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-success font-weight-boldest" />
                <input type="reset" value="Undo Changes" class="btn btn-outline-secondary font-weight-boldest" />
                <a href="@Url.Action("Index", "StudentInformations")" class="btn btn-outline-dark font-weight-boldest">Back</a>
            </div>
        </div>
</div>
       
    </div>
</div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
