@model Schoolmanagementn.StaffInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <div style="margin-left: 200px; margin-right: 350px;" class="shadow">
        <div>
            <h2 style="font-weight: 800; text-align: center">
                <br />
                Information of

                @Html.DisplayFor(model => model.FullName)

            </h2>
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Full Name :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        Father Name :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>

                    <dt>
                         Mother Name :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>

                    <dt>
                        Date of Birth :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>

                    <dt>
                        Age :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        Gender :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        Date of Join : 
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfJoin)
                    </dd>

                    <dt>
                        Address :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                         Phone Number :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        Nationality :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nationality)
                    </dd>

                    <dt>
                       State :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.State)
                    </dd>

                    <dt>
                       Department :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department1.DepartmentName)
                    </dd>

                    <dt>
                        Role :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Role1.RoleName)
                    </dd>

                </dl>
            </div>
            <div class="form-actions no-color" style="text-align: center">

                <a href="@Url.Action("Edit", "StaffInformations", new { id = Model.StaffId})" class="btn btn-primary font-weight-bold btn-pill">Edit</a>
                <a href="@Url.Action("Index", "StaffInformations")" class="btn btn-dark font-weight-bold btn-pill">Back</a>

            </div>
            <br />

        </div>
    </div>
</div>
           
