@model Schoolmanagementn.Models.RegistrationViewModel

@{
    ViewBag.Title = "Create";
   

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="kt_header" class="header header-fixed">
        <div class="container-fluid d-flex align-items-stretch justify-content-between">
            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                    <span id="CustomerName" style="margin-top:1rem;margin-left:200px;font-size:30px;font-weight:500">Registration</span>
                </div>
            </div>
            <div class="topbar">
                <div class="topbar-item">

                </div>
            </div>
        </div>
    </div>
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5"> </h5>
                <span style="font-size:20px" class="text-dark font-weight-boldest ">Create</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="btn-group ml-2">

                    <div class="container-fluid d-flex flex-wrap flex-sm-nowrap">

                        <a href="@Url.Action("Index", "UserRegistrations")" class="btn btn-dark font-weight-bold btn-sm px-3 font-size-base" style="margin-left: 700px">Back</a>
                        <div class="btn-group ml-2">
                            <input type="submit" value="Save" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base" onclick="return encrypt()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card header-->
            <div class="card-header card-header-tabs-line nav-tabs-line-3x">
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">

                        <li class="nav-item mr-3">
                            <a class="nav-link  active" data-toggle="tab" href="#kt_con_tab">
                                <span class="nav-icon">
                                    <span class="svg-icon">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Layers.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="nav-text font-size-lg">User Inforamtion</span>
                            </a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" data-toggle="tab" href="#kt_contact_tab">
                                <span class="nav-icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </span>
                                <span class="nav-text font-size-lg">Contact Information</span>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="card-body ">

                <div class="tab-content ">

                    <div class="tab-pane  " id="kt_contact_tab" role="tabpanel">
                        <div class="card-body ">
                            <div class="form-group row rowcostumclass">
                                <label class="control-label col-md-2">Phone Number<span class="text-danger">*</span></label>


                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", Placeholder = "Enter Your Phone number" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group row rowcostumclass">

                                <label class="control-label col-md-2">User Email<span class="text-danger">*</span></label>

                                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", Placeholder = "Enter Email Id" } })
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })


                            </div>

                        </div>
                    </div>
                    <div class="tab-pane active" id="kt_con_tab" role="tabpanel">
                        <div class="card-body">
                            <div class=" form-group row rowcostumclass">

                                <label class="control-label col-md-2">User Id<span class="text-danger">*</span></label>
                                <div class="input-group form-group row rowcostumclass">
                                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", Placeholder = "Enter User Id" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group  row rowcostumclass">
                                <label class="control-label col-md-2">Full Name<span class="text-danger">*</span></label>
                                <div class="input-group form-group row rowcostumclass">

                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", Placeholder = "Enter Full Name" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group row rowcostumclass">
                                <label class="control-label col-md-2">User Password<span class="text-danger">*</span></label>
                                <div class="input-group form-group row rowcostumclass">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Placeholder = "Enter Your Password", id = "password", } })
                                    <span class="svg-icon svg-icon-dark-65 svg-icon-2x" id="show" onclick="myFunction()" style="margin-right:2px">
                                        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/General/Visible.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                </div>
                                

                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row rowcostumclass">
                                <label class="control-label col-md-3">User Role<span class="text-danger">*</span></label>
                                <div class="input-group form-group row rowcostumclass">
                                    @Html.DropDownList("Role", null, "-Select Role-", htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <!--begin::Card body-->
        </div>
        <!--end::Card-->
    </div>



}
