@model Schoolmanagementn.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Result</h4>
    <hr />
    <div style="margin-left: 200px; margin-right: 350px;" class="shadow">
        <div>
            <h2 style="font-weight: 800; text-align: center">
                <br />
                @Html.DisplayFor(model => model.Subject.SubjectName)
                Result of
                @Html.DisplayFor(model => model.StudentInformation.FullName)

            </h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Total Marks :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalMarks)
                </dd>

                <dt>
                    Status :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Result1)
                </dd>

            </dl>
        </div>
        <div class="form-actions no-color" style="text-align: center">

            <a href="@Url.Action("Edit", "Results", new { id = Model.ResultId })" class="btn btn-primary font-weight-bold btn-pill">Edit</a>
            <a href="@Url.Action("Index", "Results")" class="btn btn-dark font-weight-bold btn-pill">Back</a>

        </div>
        <br />

    </div>
</div>

