@model Schoolmanagementn.Department

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h3 class="card-label font-weight-boldest">
            Add New Department
        </h3>
        <div class="container-fluid d-flex flex-wrap flex-sm-nowrap">

            <a href="@Url.Action("Index", "Departments")" class="btn btn-dark font-weight-bold btn-sm px-3 font-size-base" style="margin-left: 700px">Back</a>
            <div class="btn-group ml-2">
                <input type="submit" value="Save" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base" onclick="return encrypt()" />
            </div>
        </div>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row rowcostumclass">

            <label class="control-label col-md-2">Dept Id<span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeptId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeptId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row rowcostumclass">

            <label class="control-label col-md-2">Department Name<span class="text-danger">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group row rowcostumclass">

                <input type="password" name="password" id="password" placeholder="Password" />
            </div>*@
        </div>

    </div>
}


@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
}
