@model Schoolmanagementn.Class

@{
    ViewBag.Title = "Details";
}


    <div style="margin-left: 200px; margin-right: 350px;" class="shadow">
        <div>
            <h2 style="font-weight: 800; text-align: center">
                <br />
                @Html.DisplayFor(model => model.ClassName)

                Details
            </h2>
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Class :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClassName)
                    </dd>

                    <dt>
                        Academic Year :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AcademicYear)
                    </dd>

                </dl>
            </div>
           
            <div class="form-actions no-color" style="text-align: center">

                <a href="@Url.Action("Edit", "Classes", new { id = Model.ClassId })" class="btn btn-primary font-weight-bold btn-pill">Edit</a>
                <a href="@Url.Action("Index", "Classes")" class="btn btn-dark font-weight-bold btn-pill">Back</a>

            </div>
            <br />

        </div>
    </div>
